/*-gilroy-*/
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-regularitalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-semibolditalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-blackitalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

/*-proxima-nova-*/
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-RegularIt.woff') format('woff'), url('../fonts/ProximaNova-RegularIt.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-SemiboldIt.woff') format('woff'), url('../fonts/ProximaNova-SemiboldIt.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-BoldIt.woff') format('woff'), url('../fonts/ProximaNova-BoldIt.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}

/*-bebas neue-*/
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneueregular.woff') format('woff'), url('../fonts/bebasneueregular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneuebold.woff') format('woff'), url('../fonts/bebasneuebold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneuebook.woff') format('woff'), url('../fonts/bebasneuebook.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneuelight.woff') format('woff'), url('../fonts/bebasneuelight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

a {
    -webkit-transition: all .2s;
    transition: all .2s;
    text-decoration: unset;
}

a:focus, button:focus, input:focus, textarea:focus {
    outline: none;
    box-shadow: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

div:focus {
    outline: none;
}

.h1, .h2, h1, h2, .h3, .h4, .h5, .h6, h3, h4, h5, h6 {
    font-family: "Gilroy", sans-serif;
    margin: 0;
    padding: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Proxima Nova", sans-serif;
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 100%;
}

body {
    --accent: #FEE040;
    --accent-h: #FFEB81;
    --accent-bl: #2F80ED;
}

.gilroy {
    font-family: 'Gilroy', sans-serif;
}

.bebas {
    font-family: 'Bebas Neue', sans-serif;
}

::-webkit-scrollbar-button {
    -webkit-transition: .2s !important;
    transition: .2s !important;
    width: 5px;
    height: 0;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: var(--accent-h);
}

::-webkit-resizer {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}

/*-general-*/
.body-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.wrapper-content {
    flex: 1;
}

.container {
    width: 85%;
    max-width: 85%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.container.c-borders {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.container.c-borders:before {
    content: '';
    background: rgba(255, 255, 255, 0.1);
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 33.33%;
    transform: translateX(-33.33%);
}

.container.c-borders:after {
    content: '';
    background: rgba(255, 255, 255, 0.1);
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 33.33%;
    transform: translateX(-33.33%);
}
.btn{
    border: none;
}
.btn-adv{
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    background: var(--accent);
    border-radius: 2px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    padding: 29px 58px;
    transition: all .2s ease;
}
.btn-adv:after{
    content: "";
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    height: 40%;
    opacity: 0;
    filter: blur(35px);
    border-radius: 50px;
    width: 84%;
    background: transparent;
    transition: all .2s ease;
}
.btn-adv:hover{
    background: var(--accent-h);
    transition: all .2s ease;
}
.btn-adv:hover:after{
    content: "";
    opacity: 0.7;
    background: var(--accent-h);
    transition: all .2s ease;
}
.btn-adv svg{
    margin-right: 12px;
}
/*-header-*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

.header-wrap__menu-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-wrap__contact-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 33.333%;
}

.burger-menu__icon-open {
    cursor: pointer;
}

.burger-menu__icon-open svg rect {
    transition: all .3s;
}

.burger-menu__icon-open:hover svg rect {
    fill: var(--accent-h);
    width: 35px;
    transition: all .3s;
}

.burger-menu__toggle-menu {
    display: none;
}
.logo-link{display: block}
.menu-box__burger-menu {
    margin-right: 90px;
}

.contact-box__tel-info {
    margin-left: 90px;
}

.contact-box__tel-info, .contact-box__email-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-box__tel-info {
    align-items: flex-end;
}

.contact-box__email-info {
    align-items: flex-start;
}

.title-contact-box {
    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.title-contact-box svg {
    margin-right: 7px;
}

.title-contact-box svg path {
    fill: rgba(255, 255, 255, 0.5);
}

.email-info__link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: -0.5px;
    color: var(--accent);
    transition: all .2s;
}

.email-info__link svg {
    margin-right: 8px;
}

.email-info__link:hover {
    color: var(--accent-h);
    transition: all .2s;
}

.email-info__link:hover svg path {
    fill: var(--accent-h);
    transition: all .2s;
}

.tel-info__link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #FFFFFF;
    transition: all .2s;
}

.tel-info__link:hover {
    color: var(--accent-h);
    transition: all .2s;
}

/*-first sscreen-*/
.first-screen {
    position: relative;
    background-image: url("../images/content/bg01.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    padding-top: 80px;
    /*height: 100%;*/
    min-height: 768px;
    box-sizing: border-box;
}
.first-screen__wrapper{
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
    padding-bottom: 68px;
    box-sizing: border-box;
}
.theme-back {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 78, 134, 0.9) 0%, rgba(10, 65, 104, 0.9) 100%);
}
.first-screen .container {
    z-index: 3;
}
.first__welcome-block{
    padding: 130px 0 68px 130px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.welcome-block__desc .title{
    font-size: 42px;
    line-height: 51px;
    font-weight: 800;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-align: left;
}
.welcome-block__desc{
    width: 50%;
}
.welcome-block__desc .title{

}
.welcome-block__desc .text{
    font-size: 20px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.7);
    width: 65%;
}
.welcome-block__options{
    width: 36.333%;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.welcome-block__options .text{
    font-size: 15px;
    line-height: 28px;
    color: #FFFFFF;
    width: 80%;
}
.btn-wrapper{
    margin-bottom: 40px;
}

.bottom__welcome-block{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.welcome-block__steps-box{
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
}
.steps-box__card{
    width: 28.333%;
    margin-right: 100px;
    display: flex;
    align-items: center;
}
.step-number{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    height: auto;
    line-height: 1;
    margin-right: 30px;
    display: inline-block;
}
.step-name{
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

.video-box__wrapper{
    position: relative;
    z-index: 1;
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-box__circle{
    position: absolute;
    z-index: 2;
    width: 220px;
    height: 220px;
    background-image: url("../images/icons/video.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: 7s linear infinite CircleVideo;
}
.video__pic{
    width: 155px;
    height: 155px;
    border-radius: 50%;
    object-fit: cover;
}
.video-box__link{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

@keyframes CircleVideo {
    from {
        -webkit-transform: rotate(0deg);
    }
    to   {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes CircleVideo {
    from {
        -webkit-transform: rotate(0deg);
    }
    to   {
        -webkit-transform: rotate(360deg);
    }
}


/*-about area-*/
.about-screen{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    display: flex;
    display: -webkit-flex;
    align-items: stretch
}
.about__right-content, .about__left-content{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 100px 0 89px;
}
.about__left-content{
    background-color: #ffffff;
}
.about__left-content .title{
    width: 50%;
    font-size: 32px;
    line-height: 42px;
    font-weight: 800;
    letter-spacing: -0.5px;
    color: #151515;
    margin-bottom: 50px;
    text-align: left;
}
.about__left-content .text{
    width: 50%;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: rgba(112, 112, 112, 0.7);
    text-align: left;
}


.about__right-content{
    background-color: #F5F5F5;
}
.about__right-content .title{
    width: 50%;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #151515;
    margin-bottom: 24px;
    text-align: left;
}
.about__list-pl{
    width: 50%;
    list-style: none;
    padding-left: 0;
}

.about__list-pl li{
    position: relative;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: rgba(112, 112, 112, 0.7);
    text-align: left;
    padding-left: 50px;
    margin-bottom: 15px;
}
.about__list-pl li:last-child{
    margin-bottom: 0px;
}
.about__list-pl li:before{
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-image: url("../images/icons/about-check.svg");
}

.about-screen__style{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    -webkit-transform: translate(-50%, -40%);
}
.about-screen__style img{
    width: 380px;
    height: auto;
}

/*-services-area-*/

.services-screen{
    position: relative;
    background-image: url("../images/content/bg02.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    box-sizing: border-box;
}

.services-screen__wrapper{
    box-sizing: border-box;
    padding: 100px 0 70px;
}
.services-screen .container {
    z-index: 3;
}
.services-screen .title-section{
    font-size: 20px;
    line-height: 16px;
    font-weight: bold;
    letter-spacing: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FEE040;
    text-align: center;
}
.services-screen .comment-services{
    font-size: 32px;
    line-height: 42px;
    font-weight: 800;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    margin-bottom: 45px;
    text-align: center;
}
/*-slider-*/
.wrap-slide .image-box{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    height: 180px;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
}
.wrap-slide .image-box:after{
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 30px;
    right: 0;
    left: 0;
    height: 100px;
    width: 80%;
    background: #000000;
    opacity: 0.3;
    filter: blur(50px);
    border-radius: 3px;
}
.wrap-slide .image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.wrap-slide .info-box .title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 800;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 20px;
}
.wrap-slide .info-box .desc{
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
    margin-bottom: 35px;
    height: 78px;

    /*white-space: pre-line;*/

    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.wrap-slide *{
    user-select: none;
}
.wrap-slide .link-box a{
    display: -webkit-inline-flex;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    letter-spacing: 7px;
    color: var(--accent);
    text-align: left;
    transition: all .2s;
}

.wrap-slide .link-box a img{
    margin-left: 13px;
    width: 21px;
    transition: all .2s;
}
.wrap-slide .link-box a:hover{
    color: var(--accent-h);
    transition: all .2s;
}
.wrap-slide .link-box a:hover img{
    margin-left: 17px;
    width: 25px;
    transition: all .2s;
}
.swiper-services{
    padding-bottom: 70px;
    margin-right: -8.5%;
}
.swiper-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 10px;
    background: linear-gradient(270deg, #FEE040 0%, rgba(254, 224, 64, 0) 100%);
    width: 98%;
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    left: 0;
    top: 0;
}

.image-slider__fraction{
    padding: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color:#fff;
}
.swiper-pagination-progressbar {
    background: transparent;
    position: absolute;
}
.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 117%;
    height: 4px;
    left: 0;
    right: 0;
    top: auto;
    bottom: 70px;
    margin: 0 0 0 -8.5%;
}
:root {
    --swiper-theme-color: linear-gradient(270deg, #FEE040 0%, rgba(254, 224, 64, 0) 100%);;
}


/*-Complex steps-*/
/*-steps 1-*/
.complex-steps__wrapper{
    margin: 100px 0;
}
.complex-steps__wrapper .title{
    background: -webkit-linear-gradient(180deg, #60B6FF 0%, rgba(0, 78, 134, 0.8) 100%);
    background: linear-gradient(180deg, #60B6FF 0%, rgba(0, 78, 134, 0.8) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 80px;
    line-height: 64px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 36px;

}
.complex-steps__wrapper .comment-title{
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
    color: #505050;
    width: 510px;
    margin: 0 auto;
}

.complex-steps__step-1{
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    width: 100%;
}
.step1-box-image{
    width: 50%;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
}
.step1-box-image img{
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}
.step1-box-description{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    background: #F5F5F5;
    padding: 80px 0;
    width: 50%;
}

.step3-box-description{
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    background: #F5F5F5;
    padding: 80px 0;
    width: 50%;
}

.step1-box-description .description__wrap{
    width: 550px;
    margin-left: 70px;
}
.step3-box-description .description__wrap{
    width: 550px;
    margin-right: 70px;
}
.description__wrap .title{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-justify-content: flex-start;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.5px;
    color: #151515;
    margin-bottom: 19px;
}
.sp-title-step{
    background-color: var(--accent);
    padding: 4px 10px 3px;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #151515;
}
.description__wrap .sp-title-step{
    margin-right: 20px;
}
.description__wrap .comment{
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.5px;
    color: rgba(51, 51, 51, 0.7);
    padding-right: 50px;
}
.description__wrap .comment a{
    color: #2F80ED;
    border-bottom: 1px solid #2F80ED;
}
.step__list .about__list-pl{
    margin-top: 30px;
    width: 100%;
}
.step__list .about__list-pl li{
    margin-bottom: 25px;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: rgba(80, 80, 80, 0.71);
}
.step__review{
    margin-top: 32px;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
}
.step__review .review__photo{
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
}
.step__review .review__photo img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin: 0 30px 0 0;
    border-radius: 50%;
    border: 9px solid #FFFFFF;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}
.review__content .text{
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: rgba(80, 80, 80, 0.7);
    margin-bottom: 22px;
}
.review__content .name{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: rgba(21, 21, 21, 0.71);
}
.uppercase{
    text-transform: uppercase;
}
/*-step 2-*/
.complex-steps__step-2{
    padding: 80px 0 70px;
    background-color: #fff;
}
.complex-steps__step-2 .title{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-justify-content: flex-start;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.5px;
    color: #151515;
}

.complex-steps__step-2 .sp-title-step{
    margin-bottom: 20px;
}

.complex-steps__step-2 .title{
    margin-bottom: 20px;
}
.complex-steps__step-2 .comment{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.5px;
    color: rgba(51, 51, 51, 0.7);
    width: 55%;
    margin: 0 auto 20px;
}

.wrap-slide-step{
    background: #F5F5F5;
    border-radius: 2px;
    padding: 0 40px 30px;
}
.wrap-slide-step .image-box{
    height: 250px;
    width: auto;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.wrap-slide-step .image-box img{
    position: relative;
    top: -50px;
    left: 0;
    right: 0;
    height: 300px;
    width: auto;
}
.wrap-slide-step .title-box{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    height: 44px;
    text-align: center;
    letter-spacing: -0.5px;
    color: rgba(21, 21, 21, 0.7);
}
.step2__wrapper-slider .swiper-step{
    padding-top: 80px;
}

.swiper-step {
    padding-bottom: 30px;
    margin-right: -8.5%;
}
.swiper-step .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    padding-bottom: 30px;
    margin-right: -8.5%;
}
.swiper-step .swiper-horizontal>.swiper-pagination-bullets, .swiper-step .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-step .swiper-pagination-custom, .swiper-step .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}

.swiper-pagination-bullet {
    opacity: 1;
    background: #cccccc;

    width: 20px;
    height: 2px;
    display: inline-block;
    border-radius: 10px;
    transition: all .2s;
}

.swiper-pagination-bullet-active {
    opacity: var(--accent, 1);
    background: var(--accent);

    width: 40px;
    height: 2px;
    display: inline-block;
    border-radius: 10px;
    transition: all .2s;
}






























    /*-footer-*/
.footer{
    background: #FFFFFF;
    width: 100%;
    padding: 40px 0 45px;
}
.footer-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-wrap__copy{
    width: 30%;
    text-align: left;
    font-size: 12px;
    line-height: 18px;
    color: #707070;
}
.footer-copy__link{
    color: #2F80ED;
    padding-bottom:2px;
    border-bottom: 1px solid #2F80ED;
}
.footer-wrap__contacts{
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.footer-wrap__contact-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    margin: 0 0 0 50px;
}
.footer__contact-link{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #151515;
    transition: all .2s;
}
.footer__contact-link:hover{
    color: var(--accent-bl);
    transition: all .2s;
}
.footer__contact-title{
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
    text-align: right;
    letter-spacing: -0.5px;
    color: rgba(21, 21, 21, 0.5);
}
.footer__contact-title svg{
    margin-right: 6px;
    width: auto;
    height: 12px;
}
.footer__contact-title span{
    font-size: 12px;
    line-height: 13px;
}
.footer__contact-title svg path{
    fill: rgba(21, 21, 21, 0.5);
}