/*-gilroy-*/
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-regularitalic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-thinitalic.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-mediumitalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-semibold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-semibolditalic.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-bolditalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-blackitalic.ttf') format('ttf');
    font-weight: 900;
    font-style: italic;
}

/*-proxima-nova-*/
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-RegularIt.woff') format('woff'), url('../fonts/ProximaNova-RegularIt.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-SemiboldIt.woff') format('woff'), url('../fonts/ProximaNova-SemiboldIt.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-BoldIt.woff') format('woff'), url('../fonts/ProximaNova-BoldIt.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}

/*-bebas neue-*/
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneueregular.woff') format('woff'), url('../fonts/bebasneueregular.woff2') format('woff2'), url('../fonts/bebasneueregular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneuebold.woff') format('woff'), url('../fonts/bebasneuebold.woff2') format('woff2'), url('../fonts/bebasneuebold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneuebook.woff') format('woff'), url('../fonts/bebasneuebook.woff2') format('woff2'), url('../fonts/bebasneuebook.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneuelight.woff') format('woff'), url('../fonts/bebasneuelight.woff2') format('woff2'), url('../fonts/bebasneuelight.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

a {
    -webkit-transition: all .2s;
    transition: all .2s;
    text-decoration: unset;
}

a:focus, button:focus, input:focus, textarea:focus {
    outline: none;
    box-shadow: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

div:focus {
    outline: none;
}

.h1, .h2, h1, h2, .h3, .h4, .h5, .h6, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Proxima Nova", sans-serif;
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 100%;
}

body {
    --accent: #FEE040;
    --accent-h: #FFEB81;
    --accent-bl: #2F80ED;
}

.gilroy {
    font-family: 'Gilroy', sans-serif;
}

.bebas {
    font-family: 'Bebas Neue', sans-serif;
}

::-webkit-scrollbar-button {
    -webkit-transition: .2s !important;
    transition: .2s !important;
    width: 5px;
    height: 0;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: var(--accent-h);
}

::-webkit-resizer {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}

/*-general-*/
.body-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.wrapper-content {
    flex: 1;
}

.container {
    width: 85%;
    max-width: 85%;
    margin: 0 auto;
    position: relative;
}

.container.c-borders {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.container.c-borders:before {
    content: '';
    background: rgba(255, 255, 255, 0.1);
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 33.33%;
    transform: translateX(-33.33%);
}

.container.c-borders:after {
    content: '';
    background: rgba(255, 255, 255, 0.1);
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 33.33%;
    transform: translateX(-33.33%);
}

/*-header-*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

.header-wrap__menu-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-wrap__contact-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 33.333%;
}

.burger-menu__icon-open {
    cursor: pointer;
}

.burger-menu__icon-open svg rect {
    transition: all .3s;
}

.burger-menu__icon-open:hover svg rect {
    fill: var(--accent-h);
    width: 35px;
    transition: all .3s;
}

.burger-menu__toggle-menu {
    display: none;
}

.menu-box__burger-menu {
    margin-right: 90px;
}

.contact-box__tel-info {
    margin-left: 90px;
}

.contact-box__tel-info, .contact-box__email-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-box__tel-info {
    align-items: flex-end;
}

.contact-box__email-info {
    align-items: flex-start;
}

.title-contact-box {
    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.title-contact-box svg {
    margin-right: 7px;
}

.title-contact-box svg path {
    fill: rgba(255, 255, 255, 0.5);
}

.email-info__link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: -0.5px;
    color: var(--accent);
    transition: all .2s;
}

.email-info__link svg {
    margin-right: 8px;
}

.email-info__link:hover {
    color: var(--accent-h);
    transition: all .2s;
}

.email-info__link:hover svg path {
    fill: var(--accent-h);
    transition: all .2s;
}

.tel-info__link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #FFFFFF;
    transition: all .2s;
}

.tel-info__link:hover {
    color: var(--accent-h);
    transition: all .2s;
}

/*-first sscreen-*/
.first-screen {
    position: relative;
    height: 100vh;
    background-image: url("../images/content/bg01.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    padding-top: 80px;
}
.theme-back {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 78, 134, 0.9) 0%, rgba(10, 65, 104, 0.9) 100%);
}
.first-screen .container {
    z-index: 3;
}










































/*-footer-*/
.footer{
    background: #FFFFFF;
    width: 100%;
    padding: 40px 0 45px;
}
.footer-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-wrap__copy{
    width: 30%;
    text-align: left;
    font-size: 12px;
    line-height: 18px;
    color: #707070;
}
.footer-copy__link{
    color: #2F80ED;
    padding-bottom:2px;
    border-bottom: 1px solid #2F80ED;
}
.footer-wrap__contacts{
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.footer-wrap__contact-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    margin: 0 0 0 50px;
}
.footer__contact-link{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #151515;
    transition: all .2s;
}
.footer__contact-link:hover{
    color: var(--accent-bl);
    transition: all .2s;
}
.footer__contact-title{
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
    text-align: right;
    letter-spacing: -0.5px;
    color: rgba(21, 21, 21, 0.5);
}
.footer__contact-title svg{
    margin-right: 6px;
    width: auto;
    height: 12px;
}
.footer__contact-title span{
    font-size: 12px;
    line-height: 13px;
}
.footer__contact-title svg path{
    fill: rgba(21, 21, 21, 0.5);
}