/*-gilroy-*/
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/*-proxima-nova-*/
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-RegularIt.woff') format('woff'), url('../fonts/ProximaNova-RegularIt.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-SemiboldIt.woff') format('woff'), url('../fonts/ProximaNova-SemiboldIt.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

/*-bebas neue-*/
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneueregular.woff') format('woff'), url('../fonts/bebasneueregular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneuebold.woff') format('woff'), url('../fonts/bebasneuebold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneuebook.woff') format('woff'), url('../fonts/bebasneuebook.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneuelight.woff') format('woff'), url('../fonts/bebasneuelight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

a {
    -webkit-transition: all .2s;
    transition: all .2s;
    text-decoration: unset;
}

a:focus, button:focus, input:focus, textarea:focus {
    outline: none;
    box-shadow: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

div:focus {
    outline: none;
}

.h1, .h2, h1, h2, .h3, .h4, .h5, .h6, h3, h4, h5, h6 {
    /*font-family: "Gilroy", sans-serif;*/
    margin: 0;
    padding: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    font-family: "Proxima Nova", sans-serif;
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

body {
    --accent: #FEE040;
    --accent-h: #FFEB81;
    --accent-bl: #2F80ED;
}

.gilroy {
    font-family: 'Gilroy', sans-serif;
}

.bebas {
    font-family: 'Bebas Neue', sans-serif;
}

::-webkit-scrollbar-button {
    -webkit-transition: .2s !important;
    transition: .2s !important;
    width: 5px;
    height: 0;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: var(--accent-h);
}

::-webkit-resizer {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}

/*-general-*/
body.no-scroll{
    overflow-y: hidden;
}
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.wrapper-content {
    flex: 1;
}

.container {
    width: 85%;
    max-width: 85%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.container.c-borders {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.container.c-borders:before {
    content: '';
    background: rgba(255, 255, 255, 0.1);
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 33.33%;
    transform: translateX(-33.33%);
}

.container.c-borders:after {
    content: '';
    background: rgba(255, 255, 255, 0.1);
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 33.33%;
    transform: translateX(-33.33%);
}

.btn {
    border: none;
}

.btn-adv {
    font-family: "Gilroy", sans-serif;
    font-weight: 800;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    background: var(--accent);
    border-radius: 2px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    padding: 29px 58px;
    cursor: pointer;
    transition: all .2s ease;
}

.btn-adv:after {
    content: "";
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    height: 40%;
    opacity: 0;
    filter: blur(35px);
    border-radius: 50px;
    width: 84%;
    background: transparent;
    transition: all .2s ease;
}

.btn-adv:hover {
    background: var(--accent-h);
    transition: all .2s ease;
}

.btn-adv:hover:after {
    content: "";
    opacity: 0.7;
    background: var(--accent-h);
    transition: all .2s ease;
}

.btn-adv svg {
    margin-right: 12px;
}

/*-header-*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    transition: all .2s;
}
.header.sticky-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: rgba(0, 78, 134, 0.9);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    transition: all .2s;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

.header-wrap__menu-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-wrap__contact-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 33.333%;
}

.burger-menu__icon-open {
    cursor: pointer;
}

.burger-menu__icon-open svg rect {
    transition: all .3s;
}

.burger-menu__icon-open:hover svg rect {
    fill: var(--accent-h);
    width: 35px;
    transition: all .3s;
}

.burger-theme-style{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    transition: all .2s;
}
.burger-menu__toggle-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 360px;
    transform: translateX(-380px);
    z-index: 15;
    background: linear-gradient(180deg, rgba(0, 78, 134, 0.9) 0%, rgba(10, 65, 104, 0.9) 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: auto;

    border-right: 1px solid rgba(255, 255, 255, 0.1);
    transition: all .2s;
}
.burger-menu__toggle-menu.show{
    transform: translateX(0);
    transition: all .2s;
}

.burger-close{
    cursor: pointer;
}
.burger-close svg{
    width: 16px;
    height: 16px;
}
.burger-close svg path{
    stroke: var(--accent);
    transition: all .2s;
}
.burger-close:hover svg path{
    stroke: var(--accent);
    transition: all .2s;
}
.burger-logo-link {
    display: block
}
.burger-menu-wrapper{
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    width: 100%;
    height: 100%;
}
.burger-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
}
.burger-body{
    flex: 1;
    padding: 15px;
}
.burger-footer{
    width: 100%;
    padding: 15px;
}
.burger-link{
    font-family: "Gilroy", sans-serif;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 13px;
    transition: all .2s;
}
.burger-link:last-child{
    margin-bottom: 0;
}
.burger-link:hover{
    color: var(--accent-h);
    transition: all .2s;
}
.burger-footer__item{
    margin: 0 0 15px 0;
}
.burger-footer__link{
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    align-items: center;
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    transition: all .2s;
}
.burger-footer__link:hover{
    color: var(--accent-h);
    transition: all .2s;
}
.burger-footer__link svg{
    height: 12px;
    width: auto;
    margin-right: 10px;
}
.burger-footer__link svg path{
    fill: var(--accent-h);
}
.burger-footer__btn .btn-adv{
    color: #000000;
    padding: 15px 5px;
    transition: all .2s ease;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo-link {
    display: block
}

.menu-box__burger-menu {
    margin-right: 90px;
}

.contact-box__tel-info {
    margin-left: 90px;
}

.contact-box__tel-info, .contact-box__email-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-box__tel-info {
    align-items: flex-end;
}

.contact-box__email-info {
    align-items: flex-start;
}

.title-contact-box {
    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.title-contact-box svg {
    margin-right: 7px;
}

.title-contact-box svg path {
    fill: rgba(255, 255, 255, 0.5);
}

.email-info__link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: -0.5px;
    color: var(--accent);
    transition: all .2s;
}

.email-info__link svg {
    margin-right: 8px;
}

.email-info__link:hover {
    color: var(--accent-h);
    transition: all .2s;
}

.email-info__link:hover svg path {
    fill: var(--accent-h);
    transition: all .2s;
}

.tel-info__link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #FFFFFF;
    transition: all .2s;
}

.tel-info__link:hover {
    color: var(--accent-h);
    transition: all .2s;
}

/*-first sscreen-*/
.first-screen {
    position: relative;
    background-image: url("../images/content/bg01.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    padding-top: 80px;
    min-height: unset;
    box-sizing: border-box;
}

.first-screen__wrapper {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
    padding-bottom: 68px;
    box-sizing: border-box;
}

.theme-back {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 78, 134, 0.9) 0%, rgba(10, 65, 104, 0.9) 100%);
}

.first-screen .container {
    z-index: 3;
}

.first__welcome-block {
    padding: 130px 0 68px 130px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.welcome-block__desc .title {
    font-size: 42px;
    line-height: 51px;
    font-weight: 800;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-align: left;
}

.welcome-block__desc {
    width: 50%;
}

.welcome-block__desc .title {

}

.welcome-block__desc .text {
    font-size: 20px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.7);
    width: 65%;
}

.welcome-block__options {
    width: 36.333%;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.welcome-block__options .text {
    font-size: 15px;
    line-height: 28px;
    color: #FFFFFF;
    width: 80%;
}

.btn-wrapper {
    margin-bottom: 40px;
}

.bottom__welcome-block {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.welcome-block__steps-box {
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
}

.steps-box__card {
    width: 28.333%;
    margin-right: 100px;
    display: flex;
    align-items: center;
}

.step-number {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    height: auto;
    line-height: 1;
    margin-right: 30px;
    display: inline-block;
}

.step-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

.video-box__wrapper {
    position: relative;
    z-index: 1;
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-box__circle {
    position: absolute;
    z-index: 2;
    width: 220px;
    height: 220px;
    background-image: url("../images/icons/video.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: 7s linear infinite CircleVideo;
}

.video__pic {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    object-fit: cover;
}

.video-box__link {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

@keyframes CircleVideo {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes CircleVideo {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

/*-about area-*/
.about-screen {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    display: flex;
    display: -webkit-flex;
    align-items: stretch
}

.about__right-content, .about__left-content {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 100px 0 89px;
}

.about__left-content {
    background-color: #ffffff;
}

.about__left-content .title {
    width: 50%;
    font-size: 32px;
    line-height: 42px;
    font-weight: 800;
    letter-spacing: -0.5px;
    color: #151515;
    margin-bottom: 50px;
    text-align: left;
}

.about__left-content .text {
    width: 50%;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: rgba(112, 112, 112, 0.7);
    text-align: left;
}


.about__right-content {
    background-color: #F5F5F5;
}

.about__right-content .title {
    width: 50%;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #151515;
    margin-bottom: 24px;
    text-align: left;
}

.about__list-pl {
    width: 50%;
    list-style: none;
    padding-left: 0;
}

.about__list-pl li {
    position: relative;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: rgba(112, 112, 112, 0.7);
    text-align: left;
    padding-left: 50px;
    margin-bottom: 15px;
}

.about__list-pl li:last-child {
    margin-bottom: 0px;
}

.about__list-pl li:before {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-image: url("../images/icons/about-check.svg");
}

.about-screen__style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    -webkit-transform: translate(-50%, -40%);
}

.about-screen__style img {
    width: 380px;
    height: auto;
}

/*-services-area-*/

.services-screen {
    position: relative;
    background-image: url("../images/content/bg02.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    box-sizing: border-box;
}

.services-screen__wrapper {
    box-sizing: border-box;
    padding: 100px 0 70px;
}

.services-screen .container {
    z-index: 3;
}

.services-screen .title-section {
    font-size: 20px;
    line-height: 16px;
    font-weight: bold;
    letter-spacing: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FEE040;
    text-align: center;
}

.services-screen .comment-services {
    font-size: 32px;
    line-height: 42px;
    font-weight: 800;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    margin-bottom: 45px;
    text-align: center;
}

/*-slider-*/
.wrap-slide .image-box {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    height: 180px;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
}

.wrap-slide .image-box:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 30px;
    right: 0;
    left: 0;
    height: 100px;
    width: 80%;
    background: #000000;
    opacity: 0.3;
    filter: blur(50px);
    border-radius: 3px;
}

.wrap-slide .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.wrap-slide .info-box .title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 800;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 20px;
}

.wrap-slide .info-box .desc {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
    margin-bottom: 35px;
    height: 78px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.wrap-slide * {
    user-select: none;
}

.wrap-slide .link-box a {
    display: -webkit-inline-flex;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    letter-spacing: 7px;
    color: var(--accent);
    text-align: left;
    transition: all .2s;
}

.wrap-slide .link-box a img {
    margin-left: 13px;
    width: 21px;
    transition: all .2s;
}

.wrap-slide .link-box a:hover {
    color: var(--accent-h);
    transition: all .2s;
}

.wrap-slide .link-box a:hover img {
    margin-left: 17px;
    width: 25px;
    transition: all .2s;
}

.swiper-services {
    padding-bottom: 70px;
    margin-right: -8.5%;
}

.swiper-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 10px;
    background: linear-gradient(270deg, #FEE040 0%, rgba(254, 224, 64, 0) 100%);
    width: 98%;
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    left: 0;
    top: 0;
}

.image-slider__fraction {
    padding: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
}

.swiper-pagination-progressbar {
    background: transparent;
    position: absolute;
}

.swiper-horizontal > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 117%;
    height: 4px;
    left: 0;
    right: 0;
    top: auto;
    bottom: 70px;
    margin: 0 0 0 -8.5%;
}

.services__wrapper-slider{
    position: relative;
    padding-bottom: 70px;
}
:root {
    --swiper-theme-color: linear-gradient(270deg, #FEE040 0%, rgba(254, 224, 64, 0) 100%);;
}


/*-Complex steps-*/
/*-steps 1-*/
.complex-steps__wrapper {
    margin: 100px 0;
}

.complex-steps__wrapper .title {
    background: -webkit-linear-gradient(180deg, #60B6FF 0%, rgba(0, 78, 134, 0.8) 100%);
    background: linear-gradient(180deg, #60B6FF 0%, rgba(0, 78, 134, 0.8) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 80px;
    line-height: 64px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 36px;

}

.complex-steps__wrapper .comment-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
    color: #505050;
    width: 510px;
    margin: 0 auto;
}

.complex-steps__step-1 {
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    width: 100%;
}

.step1-box-image {
    width: 50%;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
}

.step1-box-image img {
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.step1-box-description {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    background: #F5F5F5;
    padding: 80px 0;
    width: 50%;
}
.complex-steps__step-3{
    background: #F5F5F5;
}
.step3-box-description {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    padding: 80px 0;
    width: 50%;
}

.step1-box-description .description__wrap {
    width: 550px;
    margin-left: 70px;
}

.step3-box-description .description__wrap {
    width: 550px;
    margin-right: 70px;
}

.description__wrap .title {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-justify-content: flex-start;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.5px;
    color: #151515;
    margin-bottom: 19px;
}

.sp-title-step {
    background-color: var(--accent);
    padding: 4px 10px 3px;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #151515;
}

.description__wrap .sp-title-step {
    margin-right: 20px;
}

.description__wrap .comment {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.5px;
    color: rgba(51, 51, 51, 0.7);
    padding-right: 50px;
}

.description__wrap .comment a {
    color: #2F80ED;
    border-bottom: 1px solid #2F80ED;
}

.step__list .about__list-pl {
    margin-top: 30px;
    width: 100%;
}

.step__list .about__list-pl li {
    margin-bottom: 25px;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: rgba(80, 80, 80, 0.71);
}

.step__review {
    margin-top: 32px;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
}

.step__review .review__photo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
}

.step__review .review__photo img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin: 0 30px 0 0;
    border-radius: 50%;
    border: 9px solid #FFFFFF;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.review__content .text {
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: rgba(80, 80, 80, 0.7);
    margin-bottom: 22px;
}

.review__content .name {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: rgba(21, 21, 21, 0.71);
}

.uppercase {
    text-transform: uppercase;
}

/*-step 2-*/
.complex-steps__step-2 {
    padding: 80px 0 70px;
    background-color: #fff;
}

.complex-steps__step-2 .title {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-justify-content: flex-start;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.5px;
    color: #151515;
}

.complex-steps__step-2 .sp-title-step {
    margin-bottom: 20px;
}

.complex-steps__step-2 .title {
    margin-bottom: 20px;
}

.complex-steps__step-2 .comment {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.5px;
    color: rgba(51, 51, 51, 0.7);
    width: 55%;
    margin: 0 auto 20px;
}

.wrap-slide-step {
    background: #F5F5F5;
    border-radius: 2px;
    padding: 0 40px 30px;
}

.wrap-slide-step .image-box {
    height: 250px;
    width: auto;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.wrap-slide-step .image-box img {
    position: relative;
    top: -50px;
    left: 0;
    right: 0;
    height: 300px;
    width: auto;
}

.wrap-slide-step .title-box {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    height: 44px;
    text-align: center;
    letter-spacing: -0.5px;
    color: rgba(21, 21, 21, 0.7);
}

.step2__wrapper-slider .swiper-step {
    padding-top: 80px;
}

.swiper-step {
    padding-bottom: 30px;
    margin-right: -8.5%;
}

.swiper-step .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    padding-bottom: 30px;
    margin-right: -8.5%;
}

.swiper-step .swiper-horizontal > .swiper-pagination-bullets, .swiper-step .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-step .swiper-pagination-custom, .swiper-step .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 91.5%;
    text-align: center;
}

.swiper-pagination-bullet {
    opacity: 1;
    background: #cccccc;

    width: 20px;
    height: 2px;
    display: inline-block;
    border-radius: 10px;
    transition: all .2s;
}

.swiper-pagination-bullet-active {
    opacity: var(--accent, 1);
    background: var(--accent);

    width: 40px;
    height: 2px;
    display: inline-block;
    border-radius: 10px;
    transition: all .2s;
}
.staffing__wrapper-slider{
    position: relative;
}

/*-call to action block-*/
.call-screen {
    position: relative;
    background-image: url("../images/content/bg03.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    box-sizing: border-box;
}

.call-screen__wrapper {
    box-sizing: border-box;
    padding: 120px 0 120px;

    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: stretch;
}

.call-screen .container {
    z-index: 3;
}

.call-screen__call-description {
    width: 66.66%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: flex-start;
}

.call-description__main {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    font-weight: 800;
    width: 40%;
    margin-right: 10%;
}

.accent-color {
    color: var(--accent) !important;
}

.call-description__main .accent-color {
    display: inline-block;
}

.call-description__secondary {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    width: 50%;
}

.call-screen__call-btn {
    width: 33.33%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: flex-end;
}

.call-screen__call-btn .btn-adv {
    margin-bottom: 40px;
}

.call-screen__call-btn .call-btn__comment {
    width: 340px;
    font-size: 15px;
    line-height: 28px;
    color: #FFFFFF;
}

.call-screen__call-btn .btn-adv.active {
    background: var(--accent-h);
    transition: all .2s ease;
}

.call-screen__call-btn .btn-adv.active:after {
    content: "";
    opacity: 0.7;
    background: var(--accent-h);
    transition: all .2s ease;

    animation: animate_reduce_after 2s infinite;
}

.call-screen__call-btn .btn-adv.active {
    position: relative;

    animation: animate_reduce_active 2s infinite;
}

.call-screen__call-btn .btn-adv.active .pointhand-img {
    position: absolute;
    right: 16px;
    bottom: 16px;

    animation: animate_reduce 2s infinite;
}

@keyframes animate_reduce {
    0% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.55, 1.55, 1.55);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes animate_reduce_active {
    0% {
        background: var(--accent-h);
    }
    50% {
        background: var(--accent);
    }
    100% {
        background: var(--accent-h);
    }
}

@keyframes animate_reduce_after {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.7;
    }
}

.call-description__secondary p {
    margin-bottom: 40px;
}

.call-description__secondary p:last-child {
    margin-bottom: 0;
}

/*-team, staffing screen-*/
.staffing-screen {
    background-color: #fff;
    padding: 100px 0;
}

.staffing-screen__wrapper {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: stretch;
}
.staffing-section__title-box {
    width: 50%;
    position: relative;
}
.title-box__vertical-box {
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 20px;
    text-transform: uppercase;
    color: #2F80ED;
    display: inline-flex;
    align-items: center;

    position: absolute;
    top: auto;
    right: auto;
    left: -170px;
    bottom: 170px;
    z-index: 6;
    transform: rotate(-90deg);
}

.staffing-section__title-box .line {
    width: 140px;
    height: 2px;
    background: linear-gradient(182deg, rgba(254, 224, 64, 0) 0%, #FEE040 100%);
}

.staffing-section__content-box {
    width: 50%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: flex-start;
}

.staffing-section__content-box .title {
    font-weight: 800;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.5px;
    color: #151515;
    margin-bottom: 39px;
}

.staffing-section__content-box .text {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.5px;
    color: #707070;
    padding-right: 30px;
}

.staffing-section__content-box .text p {
    margin-bottom: 35px;
}

.marker {
    color: #000000;
    font-weight: 600;
}

/*-slider-*/
.wrapper-slider-docs {
    max-width: 100%;
}

.swiper-staffing-docs {
    width: 100%;
}

.staf-doc-slide a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .2s;
    z-index: 5;
}

.staf-doc-slide .img-doc {
    width: 100%;
}

.staf-doc-slide a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 6;
    background: linear-gradient(180deg, #FEE040 0%, #2F80ED 100%);
    opacity: 0;
    transition: all .2s;
}

.staf-doc-slide a:hover:after {
    content: '';
    opacity: 0.5;
    transition: all .2s;
}

.staf-doc-slide a:before {
    content: '';
    width: 40px;
    height: 40px;
    background-image: url("../images/icons/growsq.svg");
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 7;
    transition: all .2s;
}
.staf-doc-slide a:hover:before {
    content: '';
    opacity: 1;
    z-index: 7;
    transition: all .2s;
}
.next-slider-style {
    cursor: pointer;
    background-color: var(--accent);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: -20px;
    z-index: 10;
    transform: translateY(-50%);
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}
.prev-slider-style {
    cursor: pointer;
    background-color: var(--accent);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: -20px;
    z-index: 10;
    transform: translateY(-50%);
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}
.prev-slider-style:hover, .next-slider-style:hover{
    background-color: var(--accent-h);
    transition: all .2s;
}

/*-price screen-*/
.price-screen{
    padding: 0;
    background-image: url("../images/content/bgGray.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.price-screen__wrapper{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: stretch;
    padding: 0 110px;
}
.price-screen__image-box{
    width: 50%;
    margin-left: -50px;
    position: relative;
}
.price-screen__image-box:after{
    content: '';
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 220px;
    height: 185px;
    background-image: url("../images/content/sing.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.price-screen__content-box{
    width: 50%;
    padding: 100px 0 100px 100px;
}
.price-screen__image-box img{
    display: block;
    height: calc(100% + 25px);
    width: auto;
    margin-top: -25px;
}
.price-screen__content-box .title{
    background: -webkit-linear-gradient(180deg, #2F80ED 0%, rgba(0, 78, 134, 0.8) 100%);
    background: linear-gradient(180deg, #2F80ED 0%, rgba(0, 78, 134, 0.8) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 3px;
}
.price-screen__content-box .comment{
    font-size: 32px;
    line-height: 42px;
    font-weight: 800;
    letter-spacing: -0.5px;
    color: #151515;
}
.price-screen__content-box .prise__conversion-box{
    margin: 38px 0;
    font-style: italic;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.5px;
    color: #707070;
}
.price-screen__content-box .prise__conversion-box p{
    margin-bottom: 30px;
}
.price-screen__content-box .prise__conversion-box p:last-child{
    margin-bottom: 0;
}
.conversion-box__resources{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.conversion-box__link{
    margin-right: 75px;
    font-size: 20px;
    line-height: 16px;
    font-weight: bold;
    letter-spacing: 7px;
    color: #BBBBBB;
    text-transform: uppercase;

    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all .2s;
}
.conversion-box__link:hover{
    color: var(--accent-bl);
    transition: all .2s;
}

.conversion-box__link span{
    text-transform: uppercase;
    background-color: #fee040;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    transition: all .2s;
}
.conversion-box__link svg{
    width: 12px;
    margin-left: 2px;
}
.conversion-box__link svg path{
    fill: #000;
}
.conversion-box__link svg path{
    fill: #000;
}
.conversion-box__author .name{
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.conversion-box__author .position{
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 3px;
    color: rgba(21, 21, 21, 0.7);
}

/*- reviews screen-*/
.reviews-screen{
    background-color: #fff;
    padding: 100px 0;
}
.reviews-screen__wrapper .title-section{
    font-size: 20px;
    line-height: 16px;
    font-weight: bold;
    letter-spacing: 20px;
    text-transform: uppercase;
    color: #2F80ED;
    text-align: center;
    margin-bottom: 30px;
}
.reviews-screen__wrapper .pre-title{
    width: 70%;
    margin: 0 auto 39px;
    font-size: 32px;
    line-height: 42px;
    font-weight: 800;
    letter-spacing: -0.5px;
    text-align: center;
    color: #151515;
}
.reviews-screen__wrapper .comment{
    width: 60%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #707070;
    font-weight: 600;
}
.wrapper-reviews-cards{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 69px;
    margin-bottom: 35px;
}
.review-card{
    width: 21.22%;
    position: relative;

}
.review-owner__box{
    position: absolute;
    z-index: 33;
    left: -35px;
    top: -35px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.1);
    width: 70px;
    height: 70px;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    justify-content: center;
}
.review-owner__box img{
    width: 40px;
    height: auto;
}
.review-card a{
    display: block;
    margin-bottom: 20px;
}
.review-card a img{
    width: 100%;
    height: auto;
}
.reviews-name{
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.5px;
    color: rgba(21, 21, 21, 0.7);
}
.review-btn-box{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*-cost form screen-*/
.cost-form-screen{
    position: relative;
    background-image: url("../images/content/bg05.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    box-sizing: border-box;
}

.cost-form__wrapper {
    box-sizing: border-box;
    padding: 110px 0 110px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
}
.cost-form-screen .container {
    z-index: 3;
}
.cost-form__wrapper .title{
    margin-bottom: 39px;
    font-size: 32px;
    line-height: 42px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -0.5px;
    color: #fff;
}
.cost-form__wrapper .comment{
    width: 50%;
    margin: 0 auto 30px;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

/*-footer-*/
.footer {
    background: #FFFFFF;
    width: 100%;
    padding: 40px 0 45px;
}

.footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-wrap__copy {
    width: 30%;
    text-align: left;
    font-size: 12px;
    line-height: 18px;
    color: #707070;
}

.footer-copy__link {
    color: #2F80ED;
    padding-bottom: 2px;
    border-bottom: 1px solid #2F80ED;
}

.footer-wrap__contacts {
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.footer-wrap__contact-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    margin: 0 0 0 50px;
}

.footer__contact-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #151515;
    transition: all .2s;
}

.footer__contact-link:hover {
    color: var(--accent-bl);
    transition: all .2s;
}

.footer__contact-title {
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
    text-align: right;
    letter-spacing: -0.5px;
    color: rgba(21, 21, 21, 0.5);
}

.footer__contact-title svg {
    margin-right: 6px;
    width: auto;
    height: 12px;
}

.footer__contact-title span {
    font-size: 12px;
    line-height: 13px;
}

.footer__contact-title svg path {
    fill: rgba(21, 21, 21, 0.5);
}

/**- Modals styles-**/
.body-blackout {
    position: fixed;
    z-index: -1010;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.65);
    display: none;
    transition: all .2s;
}
.body-blackout.is-blacked-out {
    display: block;
    z-index: 1010;
    transition: all .2s;
}

.popup-modal {
    height: auto;
    max-height: 95%;
    overflow-y: auto;
    width: 50%;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: all .1s;
    z-index: -1;
    border-radius: 3px;
}
.popup-modal.is--visible {
    opacity: 1;
    z-index: 1011;
    pointer-events: auto;
    transition: all .1s;
}
.popup-modal__close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.popup-modal__close svg path{
    fill: #151515;
}
.popup-modal__close:hover svg path{
    stroke: var(--accent-bl);
}
.modal-title{
    font-size: 26px;
    width: 75%;
    text-align: center;
    margin: 0 auto 20px;
}
.modal-comment{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.5px;
    color: rgba(51, 51, 51, 0.7);
    width: 75%;
    margin: 0 auto 20px;
}
/* input focus effects css */
:focus {
    outline: none;
}
.form-body{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.input-wrap input{
    font-size: 16px;
    line-height: 38px;
    font-family: "Gilroy", sans-serif;
    color: #000;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}
.input-wrap textarea{
    font-size: 16px;
    line-height: 38px;
    font-family: "Gilroy", sans-serif;
    color: #000;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    resize: none;
    max-height: 100px;
    letter-spacing: 1px;
}
.input-wrap{
    width: 44.33%;
    margin: 8px 15px 20px;
    position: relative;
}
.textarea-wrap{
    width: 92.33%;
    margin: 8px 20px 20px;
    position: relative;
}
.form-feedback .btn-adv svg{
    height: 13px;
    width: auto;
}
.form-feedback .btn-adv svg path{
    fill: #171717;
}
.form-body{
    margin-bottom: 0;
}
.form-body__btn{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.effect-input {
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #959595;
    background-color: transparent;
}
.effect-input ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--accent-bl);
    transition: 0.4s;
}
textarea.effect-input ~ .focus-border {
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--accent-bl);
    transition: 0.4s;
}
.effect-input:focus ~ .focus-border,
.has-content.effect-input ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}
.effect-input ~ label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 10px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
    font-size: 16px;
}
.effect-input:focus ~ label, .has-content.effect-input ~ label {
    top: -16px;
    font-size: 14px;
    color: var(--accent-bl);
    transition: 0.3s;
}
/* input focus effects css End */